*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1.2rem;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xlYXIlMjBza3l8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60') no-repeat center center/cover;
}

.container{
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(4.6px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: none;
    -webkit-backdrop-filter: blur(4.6px);

    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container h1{
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 2rem;
    color: #000000b3;
}

.input-container{
    display: flex;
    gap: 1.3rem;
    align-items: center;
    /* border: 1px solid yellow; */
    padding: 0.8rem;
}

#city-input{
    font-family: "Oswald", sans-serif;
    padding: 1rem 1rem;
    border: none;
    outline: rgb(171, 157, 196);
    border-radius: 0.4rem;
    background-color: #2c2c2c22;
    color: rgba(21, 54, 60, 0.53);
    font-size: 1.1rem;
    font-weight: bold;

}

#city-input::placeholder{
    color: rgba(21, 54, 60, 0.53);
}

#city-input:focus::placeholder{
    color: transparent;
    transition: all 0.3s ease-in-out;
}

#get-weather-btn{
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
}

#get-weather-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.734);
    transition: all 0.3s ease-in-out;
}

#get-weather-btn:active{
    transform: scale(0.98);
}

.hidden{
    display: none !important; 
}

#weather-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    /* border: 1px solid red; */
    padding: 0rem 2rem;

}

#weather-info h2{
    font-weight: 600;
    font-size: 2rem;
    align-self: center;
    color: #00000068;
}

#weather-info p{
    font-weight: 530;
    font-size: 1.4rem;
    color: #000000a4;
}

#weather-info span{
    font-weight: 600;
    color: #000000b3;
}

#error-message{
    color: rgba(255, 60, 0, 0.557);
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}