*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    height: 100vh;
    width: 100vw;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card img{
    height: 30%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.contentDiv{
    height: 70%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 20px;
    gap: 30px;
    text-align: center;
}

.orderSum{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    text-align: center;
}

.orderSum p{
    text-align: center;
    font-size: 1rem;
}


.divAmount{
    background-color:  #8BC6EC;
    height: 60px;
    width: 330px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.leftBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 50%;
    height: 100%;
}

.musicImg img{
    height: 60px;
    width: 60px;
}

.amount p{
    font-size: 1rem;
}

#paymentButton{
    border-radius: 10px;
    height: 50px;
    width: 330px;
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 79);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#cancelLink{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}